<header class="header">
    <h1>
        <button mat-icon-button class="back-button" matTooltip="Atrás" *ngIf="showBackButton" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-label class="title">{{title}}</mat-label>
        <!--button (click)="toggleDarkTheme()" style="position: fixed;" >Toggle dark theme</button-->


        <!--mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                    matTooltip="Atrás" *ngIf="showBackButton" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-label class="title">{{title}}</mat-label>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar-->



    </h1>
</header>

<!--i class="fas fa-arrow-left"><-</i-->