<head>orarioService
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<header>
  <h1 style="text-align: center;">
    Modificar curso
  </h1>
</header>

<main>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="flex: 1;">
      <div mat-dialog-content>
        <form #f="ngForm" style="height:90%;" (ngSubmit)="f.form.valid  && onSaveClick()">

          <!-- Contenido del formulario -->
          <h1>Clave del curso: {{id}}</h1>
          <br>
          <!--mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Clave del curso:</mat-label>
            <input matInput [(ngModel)]="id" name="id" required>
          </mat-form-field-->

          <h2>Materia</h2>
          <mat-form-field style="width: 95%;" appearance="fill">
            <mat-label>Materia</mat-label>
            <input matInput [(ngModel)]="subject" name="subject">
          </mat-form-field>


          <h2>Maestro</h2>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Maestro</mat-label>
            <input matInput [(ngModel)]="teacher" name="teacher">
          </mat-form-field>


          <h2>Carrera</h2>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Carrera</mat-label>
            <mat-select [(ngModel)]="career" name="career">
              <mat-option value="icc">Lic. Derecho</mat-option>
              <mat-option value="iif">Ing. Informática</mat-option>
              <mat-option value="ie">Ing. Electrónica</mat-option>
              <mat-option value="icv">Ing. Civil</mat-option>
            </mat-select>
          </mat-form-field>

          <h2>Semestre</h2>
          <mat-form-field style="width: 95%;" appearance="fill">
            <mat-label>Semestre</mat-label>
            <input matInput [(ngModel)]="semester" name="semester">
          </mat-form-field>

          <h2>Salon</h2>
          <mat-form-field style="width: 95%;" appearance="fill">
            <mat-label>Salon</mat-label>
            <input matInput [(ngModel)]="salon" name="salon">
          </mat-form-field>
        </form>
      </div>
    </div>
    <div style="flex: 2">
      <div class="container">
        <div class="row">
          <div *ngFor="let date of datesInWeek; let indexDay = index" class="col">
            <p style="size: 100%;"> {{getDateFormat(date)}}</p>
            <div class="item" *ngFor="let hour of hours; let indexHour = index">
                <div *ngIf="checkHourInCourse(date, hour); else noEnHorario">
                  <button mat-button (click)="onHourClick(date, hour, true)"
                    style="color: rgb(2, 2, 2); background-color: rgb(149, 142, 255);">
                    {{ hour }}</button>
                </div>
                <ng-template #noEnHorario>
                  <button mat-button (click)="onHourClick(date, hour, false)"
                    style="color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);">
                    {{ hour }}</button>
                </ng-template>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-button (click)="onNoClick()"
              style="width: 15%; color: white; background-color: crimson; margin-left:64%">Cancelar</button>
          </div>
          <div class="col">
            <button mat-button (click)="onSaveClick()"
              style="width: 15%; color: white; background-color: green; margin-right:5%">Guardar</button>
          </div>
        </div>

        <!-- Botones de acción -->
        <!--div mat-dialog-actions
          style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 1%;">
          <button mat-button (click)="onNoClick()"
            style="width: 15%; color: white; background-color: crimson; margin-left:64%">Cancelar</button>
          <button mat-button (click)="onSaveClick()"
            style="width: 15%; color: white; background-color: green; margin-right:5%">Guardar</button>
        </div-->
      </div>
    </div>
  </div>
</main>
