.center-text {
    text-align: center;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
}

mat-form-field {
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

button {
    width: 100%;
}

.mat-card-title {
    font-size: 24px;
}

.mat-input-element:focus {
    caret-color: green;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: green;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: green;
}