<app-header [title]="title"></app-header>

<mat-tab-group mat-stretch-tabs="true"  mat-align-tabs="center"  animationDuration="0ms" >
    
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon" >list</mat-icon>
            <mat-label class="mat-tab-label" >Alumnos</mat-label>
        </ng-template>
        <app-students-table class="alternate-dark-theme"></app-students-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label >
            <mat-icon class="tab-icon">date_range</mat-icon>
            <mat-label class="mat-tab-label">Inscripciones</mat-label>
        </ng-template>
        <app-students-enrollment class="alternate-dark-theme"></app-students-enrollment>
    </mat-tab>

</mat-tab-group>
