
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.button-container {
  display: flex;
  margin-left: auto;
}

.delete-button,
.modify-button,
.add-button {
  margin-left: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.delete-button:active:enabled,
.modify-button:active:enabled,
.add-button:active:enabled {
  background-color: #3e8e41;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}


[disabled] {
  opacity: .6;
  cursor: default;
}



.delete-button:hover:enabled,
.modify-button:hover:enabled,
.add-button:hover:enabled {
  background-color: #3e8e41;
  
}


.cancel-button{
  width: 48%;
  background-color: crimson;
  color: white;
  overflow: auto;
}

.accept-button{
  width: 48%;
  color: white;
  background-color: green;
  margin-left:10px;
  overflow: auto;
}
